.chat-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  max-width: 400px;
  margin: auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  border: 1px solid #ddd;
  height: 500px; /* Altura del contenedor del chat */
  overflow-y: hidden; /* Oculta el desbordamiento vertical inicial */
  position: relative;
}

.Messages-Container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Coloca los mensajes al final */
  height: 100%;
  overflow-y: auto; /* Permite desplazamiento vertical cuando hay muchos mensajes */
  padding-bottom: 8px; /* Espacio debajo del último mensaje */
}

.message-container {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.user-message {
  display: flex;
  justify-content: flex-end; /* Alinea el bubble del usuario a la derecha */
}

.user-bubble {
  background-color: #007bff;
  color: white;
  align-self: flex-end;
  margin-left: auto; /* Empuja el bubble a la derecha */
  padding: 12px;
  border-radius: 20px;
  max-width: 70%;
  line-height: 1.5;
  font-size: 14px;
}

.hashim-message {
  display: flex;
  justify-content: flex-start; /* Alinea el bubble de Hashim a la izquierda */
}

.hashim-bubble {
  background-color: #e9e9eb;
  color: #000;
  align-self: flex-start;
  padding: 12px;
  border-radius: 20px;
  max-width: 70%;
  line-height: 1.5;
  font-size: 14px;
}

.message-time {
  font-size: 12px;
  color: #888;
  margin-bottom: 4px;
}

.message-image {
  max-width: 100%;
  border-radius: 8px;
}

.chat-input-container {
  display: flex;
  align-items: center;
  padding: 8px;
  border-top: 1px solid #ddd;
  position: sticky;
  bottom: 0; /* Fija la barra de entrada en la parte inferior */
  background-color: #f9f9f9;
}

.chat-input-container input {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 20px;
  margin-right: 8px;
  font-size: 14px;
}

.chat-input-container input:focus {
  outline: none;
}

.send-button {
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}
