/* Prevent page from being scrollable */
html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

/* Home container should fit exactly in the viewport */
.Home {
  display: flex;
  flex-direction: column;
  background-image: url('../../../../assets/images/Auth/Background.png');
  background-size: cover;
  background-position: center;
  max-height: 100vh;
  height: 100vh; /* Set height to 100vh */
  overflow: hidden;
}

.dashboard {
  padding: 20px;
  font-family: "Poppins", sans-serif;
  background-color: #f5f7fb;
  max-height: 100%; /* Ensure the dashboard takes up full height */
  overflow: hidden; /* Prevent overflow */
}

header {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important; /* Asegura que los botones estén en los extremos */
  width: 100% !important;
  position: relative !important;
  margin-top: 4% !important;
  padding-bottom: 4% !important;
}

.home-button.left {
  margin-left: 8% !important;
}

.home-button.right {
  margin-right: 8% !important;
}

header h2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 1.16rem;  /* Approx. 16px in rem */
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  line-height: 1.125rem;  /* 18px converted to rem */
  color: #002055;
  text-align: center;
}

.home-button {
  background-color: transparent;
  border: 2px solid #E9F1FF;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.home-button svg {
  color: #002055;
  font-size: 18px;
}

.notification-image {
  width: 18px;
  height: 18px;
  filter: brightness(0) saturate(100%) invert(12%) sepia(91%) saturate(3606%) hue-rotate(209deg) brightness(92%) contrast(91%);
}

.Container {
  flex-grow: 1;
  padding-left: 8%;
  padding-right: 8%;
  overflow: hidden; /* Prevent overflow in the container */
}

.CustomBottomNavigation {
  flex-shrink: 0;
}

.greeting {
  margin: 0;
  font-size: 1.48rem;  /* Approx. 16px in rem */
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  line-height: 1.125rem;  /* 18px converted to rem */
  color: #002055;
  text-align: left;
  padding-bottom: 16%;
}

.carousel {
  display: flex;
  overflow-x: auto; /* Permite que las tarjetas se superpongan fuera del contenedor */
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-top: 4%;
  position: relative; /* Asegura que el contenedor sea el punto de referencia para la posición absoluta */
  scroll-behavior: smooth;
}

.participated-project {
  flex: 0 0 65%; /* Hace que la primera tarjeta ocupe el 65% del contenedor */
  scroll-snap-align: start;
  margin-right: -20%; /* Superpone la segunda tarjeta por un 20% */
  background-color: #726ef7;
  padding: 8%;
  border-radius: 24px;
  color: white;
  text-align: center;
  position: relative;
  z-index: 1; /* Asegura que la tarjeta esté por encima del contenedor */
}

.participated-project + .participated-project {
  margin-left: 25%; /* Offset para que la segunda tarjeta se muestre parcialmente */
  background-color: white; /* Fondo blanco para la segunda tarjeta */
  border: 2px solid #E9F1FF; /* Agrega un borde similar al contenedor */
}

.participated-project-1 {
  background-color: white; /* Aplica fondo blanco si es necesario */
  border: 2px solid #E9F1FF; /* Agrega borde si es necesario */
}

.participated-project-1 h2 {
  font-size: 18px;
  font-weight: 500;
  color: #002055 !important;
  padding-bottom: 2%;
}

.participated-project h2 {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  padding-bottom: 2%;
}

.participated-project p {
  text-align: start;
  font-size: 14px;
  color: #C5DAFD;
}

.project-details {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8%;
}

.project-details-1 {
  display: flex;
  align-items: center;
  margin-top: 16%;
}

.project-images {
  display: flex;
  margin-right: 10px;
  position: relative;
}

.project-image {
  width: 40%;
  height: 40%;
  border-radius: 50%;
  border: 2px solid #fff;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.project-image:nth-child(2) {
  margin-left: -15px;
  margin-right: -15px;
  z-index: 1;
}

.project-image:nth-child(3) {
  z-index: 1;
}

.view-projects {
  background-color: transparent;
  color: white;
  padding: 4% 2% 4% 4%;
  border: 0px solid white;
  border-radius: 5px;
  font-weight: 400;
  cursor: pointer;
}

.all-projects {
  margin-top: 8%;
}

.all-projects h2 {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ajusta el espaciado de los elementos dentro del h2 */
}

.all-projects-icon {
  margin-left: auto; /* Empuja el ícono hacia la derecha */
  display: inline-flex; /* Asegura que se mantenga en línea con el texto */
  align-items: center;
  font-size: 24px; /* Ajusta el tamaño del ícono según sea necesario */
  color: #756EF3;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  border-radius: 10px;
  background-color: white;
  margin-top: 6%;
  position: relative;
  border: 2px solid #E9F1FF; /* Add border to project-card */
}

.project-card p {
  margin: 0;
  margin-bottom: 0.5%; /* Space between rows */
  color: #848A94;
  font-weight: 100;
  font-size: 13px;
}

.project-card h3 {
  margin: 0;
  margin-bottom: 0.5%; /* Space between rows */
  color: #002055;
  font-size: 16px;
}

.project-card img,
.project-card svg {
  position: absolute;
  right: 6%;
  top: 50%;
  width: 8%;
  height: auto;
  transform: translateY(-50%);
}
